body {
  font-family: "Chiron GoRound TC", sans-serif;
}

/* ===== Filter ===== */
.filter {
  display: flex;
  justify-content: center;
  gap: 15px; /* 按鈕之間距離 */
  margin: 40px 0;
}

.filter button {
  padding: 10px 22px;
  border: none;
  border-radius: 30px;
  background: #f4f1ec;
  color: #666;
  cursor: pointer;
  font-size: 0.9rem;
  transition: 0.3s; /* 顏色變化動畫 */
}

/* 滑鼠移入 */
.filter button:hover {
  background: #8b6f47;
  color: white;
}

/* 目前選取 */
.filter .active {
  background: #8b6f47;
  color: white;
}

/* ===== 卡片 ===== */
.container {
  width: min(1100px, 90%); /* 最大寬度 1100px，螢幕較小時則使用 90% 寬 */
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap; /* 空間不足時，自動換到下一行 */
  justify-content: center;
  gap: 30px; /* 空間不足時，自動換到下一行 */
}

.card {
  width: 300px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
  background: white;
  text-align: center;
  transition: 0.3s;
  overflow: hidden;
  padding-bottom: 20px; /* 底下留白 */
}

.card:hover {
  transform: translateY(-8px);
}

.card h1 {
  margin: 10px 20px;
  font-size: 1rem;
  color: #777;
}

.card p {
  margin: 5px 20px;
  font-size: 0.8rem;
  color: #777;
}

.card-photo img {
  width: 100%;
  aspect-ratio: 4/3; /* 決定圖片顯示區域的長寬比例， 4 / 3 的意思是：寬 = 4 高 = 3*/
  object-fit: cover; /* 保持圖片比例，填滿整個框框，不夠的地方裁掉*/
}

.card-link {
  text-decoration: none;
  color: inherit; /* 顏色沿用 .card */
}

.category {
  margin-top: 15px;
  font-size: 0.8rem;
  font-weight: bold;
  color: #8b6f47;
  text-transform: uppercase;
}

.tags {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 15px;
}

.tags span {
  background-color: #f4f1ec;
  color: #8b6f47;
  font-size: 0.75rem;
  padding: 4px 10px;
  border-radius: 20px;
}
