body {
  font-family: "Chiron GoRound TC", sans-serif;
}

.walk-route {
  width: min(1000px, 90%); /* 最大寬度 1000px，但手機時不要超過畫面的 90%。 */
  margin: 60px auto;
}

.route {
  background: #fff;
  padding: 30px; /* 控制文字(內容)和邊界的距離」*/
  border-radius: 5px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08); /* 左右偏移 , 上下偏移 , 模糊程度 , 透明度 */
}

.route-info {
  display: flex;
  gap: 20px; /* 控制元素間距 */
  margin-top: 25px;
}

.route-info span {
  background: #f5f5f5;
  padding: 8px 15px;
  border-radius: 20px;
  font-size: 0.9rem;
}

.content {
  margin-top: 30px;
}

.timeline {
  display: flex;
  gap: 20px;
}

/* .time {
  font-weight: bold;
  width: 60px;
} */

.marker {
  margin: 5px 0;
  width: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0; /* 固定大小 */
}

.dot {
  border: 3px solid #888;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: white;
}

.line {
  width: 2px;
  height: 70px;
  background: #ddd;
  margin-top: 4px;
  margin-bottom: 4px;
}

.timeline:last-child .line {
  display: none;
}

.spot-info {
  margin: 5px 0;
}

.spot-info span {
  display: inline-block;
  margin-top: 3px;
  background: #f5f5f5;
  padding: 8px 15px;
  border-radius: 20px;
  font-size: 0.8rem;
}
